/**
 * Application: Your Safety PAL
 * Version: 0.1
 *
 * Framework: CakePHP
 * Version: 3.0.*
 *
 * Webroot / SASS / Style
 *
**/
/**
 * Application: Your Safety PAL
 * Version: 0.1
 *
 * Framework: CakePHP
 * Version: 3.0.*
 *
 * Webroot / SASS / Reset
 *
**/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

@media all and (max-width: 1160px) {
  body {
    font-size: 90%;
  }
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

img {
  max-width: 100%;
  height: auto !important;
}

/**
 * Application: Your Safety PAL
 * Version: 0.1
 *
 * Framework: CakePHP
 * Version: 3.0.*
 *
 * Webroot / SASS / Variables
 *
**/
/**
 * Application: Your Safety PAL
 * Version: 0.1
 *
 * Framework: CakePHP
 * Version: 3.0.*
 *
 * Webroot / SASS / Grid
 *
**/
.wrap {
  margin: 0 10%;
}

no-margin {
  margin: 0 0;
}

.hide-this {
  display: none;
}

.align-bot {
  vertical-align: text-bottom;
}

.pad-bot-5 {
  padding-bottom: 5px;
}

.pad-top-10 {
  padding-top: 10px;
}

.pad-bot-10 {
  padding-bottom: 10px;
}

.pad-left-10 {
  padding-left: 10px;
}

.pad-right-10 {
  padding-right: 10px;
}

.pad-top-25 {
  padding-top: 25px;
}

.pad-bot-25 {
  padding-bottom: 25px;
}

.grey-bg {
  background-color: #ccc;
}

.right {
  text-align: right;
}

.row:before, .row:after {
  content: " ";
  display: table;
}
.row:after {
  clear: both;
}

.col1, .col2, .col3, .col4, .col5, .col6, .col7, .col8, .col9, .col10, .col11, .col12, .col5-1 {
  float: left;
  margin-left: 2%;
}

.col--first {
  margin-left: 0;
}

.col1 {
  width: 6.5%;
}

.col2 {
  width: 15%;
}

.col3 {
  width: 23.5%;
}

.col4 {
  width: 31%;
}

.col5 {
  width: 40.5%;
}

.col6 {
  width: 49%;
}

.col7 {
  width: 57.5%;
}

.col8 {
  width: 66%;
}

.col9 {
  width: 74.5%;
}

.col10 {
  width: 83%;
}

.col11 {
  width: 91.5%;
}

.col12 {
  width: 100%;
  margin-left: 0;
}

.col5-1 {
  width: 18%;
}

.push-col1 {
  margin-left: 8.5%;
}

.push-col2 {
  margin-left: 17%;
}

.push-col3 {
  margin-left: 25.5%;
}

.push-col4 {
  margin-left: 34%;
}

.push-col5 {
  margin-left: 42.5%;
}

.push-col6 {
  margin-left: 51%;
}

.push-col7 {
  margin-left: 59.5%;
}

.push-col8 {
  margin-left: 68%;
}

.push-col9 {
  margin-left: 76.5%;
}

.push-col10 {
  margin-left: 85%;
}

.push-col11 {
  margin-left: 93.5%;
}

/**-- Tablet Grid --**/
@media all and (max-width: 1180px) {
  .tab-col6 {
    width: 49%;
  }

  .tab-push3 {
    margin-left: 25.5%;
  }

  .tab-col12 {
    width: 100%;
    margin-left: 0;
  }
}
/**-- Phone Grid --**/
@media all and (max-width: 720px) {
  .phone-col10 {
    width: 83%;
  }

  .phone-col12 {
    width: 100%;
    margin-left: 0;
  }

  .phone-push1 {
    margin-left: 8.5%;
  }
}
/**
 * Application: Your Safety PAL
 * Version: 0.1
 *
 * Framework: CakePHP
 * Version: 3.0.*
 *
 * Webroot / SASS / Typography
 *
**/
h1 {
  font-family: "ssp-light", arial, sans;
  font-size: 24px;
  color: #fff;
}

.h1 {
  font-family: "ssp-light", arial, sans;
  font-size: 24px;
  color: #6b6b6b;
}

h2 {
  font-family: "ssp-light", arial, sans;
  font-size: 18px;
  color: "ssp-light", arial, sans;
  padding-bottom: 20px;
}

.h2 {
  font-family: "ssp-light", arial, sans;
  font-size: 18px;
  color: "ssp-light", arial, sans;
}

h3 {
  font-family: "ssp-light", arial, sans;
  font-size: 16pt;
  color: #6b6b6b;
  padding-bottom: 10px;
}

.h3 {
  font-family: "ssp-light", arial, sans;
  font-size: 16pt;
  color: #6b6b6b;
}

h4,
.h4 {
  font-family: "ssp-bold", arail, sans;
  font-size: 16px;
  color: #6b6b6b;
}

h6,
.h6 {
  font-family: "ssp-semi-bold", arial, sans;
  font-size: 14px;
  color: #333;
  padding-top: 70px;
}

.link,
a {
  font-family: "ssp-reg", arial, sans;
  font-size: 18px;
  color: "ssp-light", arial, sans;
  text-decoration: none;
}

.center-text {
  text-align: center;
}

.align-bot {
  vertical-align: bottom;
}

.js-warning {
  color: #ff0000;
}

.black {
  color: #000;
}

p {
  font-family: "ssp-reg", arial, sans;
  font-size: 16px;
  color: #333333;
}

.wide-spaced {
  line-height: 200%;
}

.error {
  font-family: "ssp-light", arial, sans;
  font-size: 20pt;
  color: #ff0000;
  padding-bottom: 10px;
}

.dash-text {
  margin: 10px;
  color: "ssp-light", arial, sans;
}

.dash-heading {
  padding: 5px;
  background-color: #f0f0f0;
}

/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 10-Nov-2015, 14:47:48
    Author     : kev
*/
.primary-nav {
  background: #000;
  border-bottom: 4px solid;
  border-color: #111;
}

.nav-sec {
  position: relative;
}

.primary-nav__group {
  list-style-type: none;
  margin: 0;
  padding: 10px;
  text-align: right;
  vertical-align: center;
  padding-bottom: 5px;
  bottom: 0;
  right: 0;
}

.search {
  margin: 30px;
  padding: 0;
  text-align: right;
  vertical-align: top;
  padding-bottom: 5px;
  top: 0;
  right: 0;
}

.primary-nav__item {
  display: inline;
  vertical-align: bottom;
}

.primary-nav__item:hover {
  text-decoration: underline;
  display: inline;
}

.primary-nav__anchor {
  color: #fff;
  padding-right: 10px;
  text-decoration: none;
  font-family: "rob-con-b", arial, sans;
  font-size: 12pt;
}

.lines-button {
  display: inline-block;
  padding: 0.75rem 0.375rem;
  transition: 0.5s;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  border-radius: 0.21429rem;
  height: 80%;
  /* */
}
.lines-button:hover {
  opacity: 1;
}
.lines-button:active {
  transition: 0;
  background: rgba(0, 0, 0, 0.1);
}

.lines {
  display: inline-block;
  width: 1.5rem;
  height: 0.21429rem;
  background: #6b6b6b;
  border-radius: 0.10714rem;
  transition: 0.5s;
  position: relative;
}
.lines:before, .lines:after {
  display: inline-block;
  width: 1.5rem;
  height: 0.21429rem;
  background: #6b6b6b;
  border-radius: 0.10714rem;
  transition: 0.5s;
  position: absolute;
  left: 0;
  content: '';
  -webkit-transform-origin: 0.10714rem center;
  transform-origin: 0.10714rem center;
}
.lines:before {
  top: 0.375rem;
}
.lines:after {
  top: -0.375rem;
}
.home .lines {
  display: inline-block;
  width: 1.5rem;
  height: 0.21429rem;
  background: #fff;
  border-radius: 0.10714rem;
  transition: 0.5s;
  position: relative;
}
.home .lines:before, .home .lines:after {
  display: inline-block;
  width: 1.5rem;
  height: 0.21429rem;
  background: #fff;
  border-radius: 0.10714rem;
  transition: 0.5s;
  position: absolute;
  left: 0;
  content: '';
  -webkit-transform-origin: 0.10714rem center;
  transform-origin: 0.10714rem center;
}
.home .lines:before {
  top: 0.375rem;
}
.home .lines:after {
  top: -0.375rem;
}

.lines-button:hover .lines:before {
  top: 0.42857rem;
}
.lines-button:hover .lines:after {
  top: -0.42857rem;
}

.lines-button.close {
  -webkit-transform: scale3d(0.8, 0.8, 0.8);
  transform: scale3d(0.8, 0.8, 0.8);
}

.lines-button.arrow.close .lines:before, .lines-button.arrow.close .lines:after {
  top: 0;
  width: 0.83333rem;
}
.lines-button.arrow.close .lines:before {
  -webkit-transform: rotate3d(0, 0, 1, 40deg);
  transform: rotate3d(0, 0, 1, 40deg);
}
.lines-button.arrow.close .lines:after {
  -webkit-transform: rotate3d(0, 0, 1, -40deg);
  transform: rotate3d(0, 0, 1, -40deg);
}

.lines-button.arrow-up.close {
  -webkit-transform: scale3d(0.8, 0.8, 0.8) rotate3d(0, 0, 1, 90deg);
  transform: scale3d(0.8, 0.8, 0.8) rotate3d(0, 0, 1, 90deg);
}

/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 17-Nov-2015, 09:03:10
    Author     : kev
*/
@font-face {
  font-family: 'ssp-reg';
  src: url("/fonts/sourcesanspro-regular-webfont.eot");
  src: url("/fonts/sourcesanspro-regular-webfont.eot?#iefix") format("embedded-opentype"), url("/fonts/sourcesanspro-regular-webfont.woff") format("woff"), url("/fonts/sourcesanspro-regular-webfont.ttf") format("truetype"), url("/fonts/sourcesanspro-regular-webfont.svg#ssp-reg") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'ssp-semi-bold';
  src: url("/fonts/sourcesanspro-semibold-webfont.eot");
  src: url("/fonts/sourcesanspro-semibold-webfont.eot?#iefix") format("embedded-opentype"), url("/fonts/sourcesanspro-semibold-webfont.woff") format("woff"), url("/fonts/sourcesanspro-semibold-webfont.ttf") format("truetype"), url("/fonts/sourcesanspro-semibold-webfont.svg#ssp-semi-bold") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'ssp-bold';
  src: url("/fonts/sourcesanspro-bold-webfont.eot");
  src: url("/fonts/sourcesanspro-bold-webfont.eot?#iefix") format("embedded-opentype"), url("/fonts/sourcesanspro-bold-webfont.woff") format("woff"), url("/fonts/sourcesanspro-bold-webfont.ttf") format("truetype"), url("/fonts/sourcesanspro-bold-webfont.svg#ssp-bold") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'ssp-light';
  src: url("/fonts/sourcesanspro-light-webfont.eot");
  src: url("/fonts/sourcesanspro-light-webfont.eot?#iefix") format("embedded-opentype"), url("/fonts/sourcesanspro-light-webfont.woff") format("woff"), url("/fonts/sourcesanspro-light-webfont.ttf") format("truetype"), url("/fonts/sourcesanspro-light-webfont.svg#ssp-light") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'ssp-it-reg';
  src: url("/fonts/sourcesanspro-it-webfont.eot");
  src: url("/fonts/sourcesanspro-it-webfont.eot?#iefix") format("embedded-opentype"), url("/fonts/sourcesanspro-it-webfont.woff") format("woff"), url("/fonts/sourcesanspro-it-webfont.ttf") format("truetype"), url("/fonts/sourcesanspro-it-webfont.svg#ssp-it-reg") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'rob-con-l';
  src: url("/fonts/RobotoCondensed-Light-webfont.eot");
  src: url("/fonts/RobotoCondensed-Light-webfont.eot?#iefix") format("embedded-opentype"), url("/fonts/RobotoCondensed-Light-webfont.woff") format("woff"), url("/fonts/RobotoCondensed-Light-webfont.ttf") format("truetype"), url("/fonts/RobotoCondensed-Light-webfont.svg#rob-con-l") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'rob-con-b';
  src: url("/fonts/RobotoCondensed-Bold-webfont.eot");
  src: url("/fonts/RobotoCondensed-Bold-webfont.eot?#iefix") format("embedded-opentype"), url("/fonts/RobotoCondensed-Bold-webfont.woff") format("woff"), url("/fonts/RobotoCondensed-Bold-webfont.ttf") format("truetype"), url("/fonts/RobotoCondensed-Bold-webfont.svg#rob-con-b") format("svg");
  font-weight: normal;
  font-style: normal;
}
/**
 * Application: Your Safety PAL
 * Version: 0.1
 *
 * Framework: CakePHP
 * Version: 3.0.*
 *
 * Webroot / SASS / Forms
 *
**/
form {
  max-width: 800px;
}

.wide-form {
  max-width: 100%;
}

select {
  width: 75%;
  background: #fff;
  padding: 3px;
  margin-bottom: 5px;
  border: 2px solid #ccc;
  border-radius: 2px;
  font-size: 18px;
  background-image: url("/img/icons/icon-ddown1.svg");
  background-repeat: no-repeat;
  background-position: right 5px center;
  background-size: auto 11px;
  -webkit-appearance: none;
  -moz-appearance: none;
}

label {
  float: left;
  width: 24%;
  margin-right: 1%;
  padding-top: 5px;
  display: inline-block;
  text-align: right;
  font-size: 18px;
  vertical-align: top;
  position: relative;
  top: 3px;
  color: #ccc;
}

input,
textarea {
  width: 75%;
  margin-bottom: 10px;
  padding: 3px;
  border: 2px solid #ccc;
  border-radius: 2px;
  font-size: 18px;
  color: #555;
}

fieldset {
  margin-bottom: 10px;
  padding: 20px;
  border: 2px solid #ccc;
}

legend {
  font-weight: bold;
  padding: 0 5px;
  font-size: 20px;
  margin-left: 20px;
}

select[name="date[day]"],
select[name="date[year]"] {
  width: 32%;
}

select[name="date[month]"] {
  width: 34.5%;
}

.wide-form {
  width: 100%;
  max-width: 100%;
}
.wide-form label {
  width: 100%;
  text-align: left;
}

.submit {
  float: right;
  width: 75%;
}

.checkbox {
  position: relative;
  width: auto;
  margin-bottom: 10px;
}
.checkbox input {
  position: absolute;
  left: 102%;
  width: auto;
}

.checkbox-label--left {
  position: relative;
  margin-bottom: 10px;
  text-align: left;
  width: auto;
}
.checkbox-label--left input {
  width: auto;
}

.radio {
  width: 100%;
  clear: both;
  margin-bottom: 10px;
  text-align: left;
}
.radio input {
  width: auto;
  margin-right: 5px;
}

.top-label__label {
  top: 0;
  padding: 0 0 10px 0;
  text-align: left;
  line-height: 22px;
  font-size: 18px;
}

.top-label__space {
  padding-top: 30px;
}

.file-upload-wrap {
  position: relative;
  overflow: hidden;
}

.file-upload {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  padding: 0;
  font-size: 20px;
  cursor: pointer;
  opacity: 0;
  filter: alpha(opacity=0);
}

.inline-edit-wrap {
  clear: both;
  position: relative;
  min-height: 40px;
}

.inline-edit-existing {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.inline-edit-link {
  position: absolute;
  right: 0;
  top: 1px;
  z-index: 2;
}

.inline-input {
  width: 100%;
}

.inline-checkbox__label {
  position: absolute;
  top: 0;
  right: 100px;
}

.inline-checkbox {
  float: none;
  width: auto;
  margin-right: 10px;
}

.inline-submit {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 4;
  width: 50px;
  cursor: pointer;
}
.inline-submit:hover, .inline-submit:focus {
  background-color: #eee;
}

/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 09-Dec-2015, 14:53:38
    Author     : kev
*/
.icon {
  display: inline-block;
  padding-left: 30px;
  background-position: left top 2px;
  background-repeat: no-repeat;
  background-size: 16px auto;
}

.icon--right {
  padding-left: 0;
  padding-right: 23px;
  background-position: right top;
}

.icon--cta {
  background-image: url("/img/icon-cta-chevron.svg");
}

/**
 * Application: Your Safety PAL
 * Version: 0.1
 *
 * Framework: CakePHP
 * Version: 3.0.*
 *
 * Webroot / SASS / Buttons
 *
**/
.button,
button {
  padding: 0 8px;
  display: inline-block;
  border-radius: 0;
  cursor: pointer;
  background-color: #f0f0f0;
  font-family: "rob-con-l", arial, sans;
  font-weight: normal;
  font-size: 14px;
  border: 2px solid #ccc;
  min-height: 25px;
  line-height: 25px;
  border-radius: 2px;
  text-decoration: none;
}
@media all and (max-width: 1180px) {
  .button,
  button {
    font-size: 12px;
  }
}
.button:hover, .button:focus,
button:hover,
button:focus {
  background-color: #eee;
}

.inline {
  display: inline-block;
}

.button-icon {
  padding-right: 35px;
  background-position: right 3px center;
  background-size: 28px auto;
  background-repeat: no-repeat;
  background-image: url("/img/icon-search.svg");
  background-color: #fff;
  border: 0px;
}
.button-icon.button--giant.button--giant {
  background-position: right 5px center;
  background-size: 51px auto;
}

button[type=submit] {
  float: right;
}

input::-moz-focus-inner {
  border: 0;
  padding: 0;
  margin-top: 0px;
  margin-bottom: 0px;
}

.button-list {
  margin: 0;
  padding: 0;
}
.button-list li {
  list-style-type: none;
  margin-bottom: 10px;
  text-align: center;
}

/*
  To change this license header, choose License Headers in Project Properties.
  To change this template file, choose Tools | Templates
  and open the template in the editor.
*/
/* 
  Created on : 06-Dec-2015, 20:40:34
  Author     : Vooda
*/
.wordwrap {
  white-space: pre-wrap;
  /* CSS3 */
  white-space: -moz-pre-wrap;
  /* Firefox */
  white-space: -pre-wrap;
  /* Opera <7 */
  white-space: -o-pre-wrap;
  /* Opera 7 */
  word-wrap: break-word;
  /* IE */
}

.rel {
  position: relative;
}

.abs {
  position: absolute;
}

.abs--right {
  right: 0;
  top: 0;
  margin: 5px;
}

.abs--bot-left {
  left: 0;
  bottom: 0;
  width: 100%;
}

.no-margin {
  margin: 0;
}

/**
 * Application: Your Safety PAL
 * Version: 0.1
 *
 * Framework: CakePHP
 * Version: 3.0.*
 *
 * Webroot / SASS / Tables
 *
**/
table {
  table-layout: fixed;
  background-color: #f0f0f0;
  border: 5px solid #f0f0f0;
  width: 100%;
}

th,
td {
  padding: 5px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  font-family: "ssp-reg", arial, sans;
  font-size: 18px;
}

th {
  text-align: left;
  border-bottom: 1px solid #eee;
}
th.actions {
  font-family: "ssp-reg", arial, sans;
}

.actions {
  text-align: right;
}

tbody tr:nth-child(odd) {
  background-color: #fff;
}
