/**
 * Application: Your Safety PAL
 * Version: 0.1
 *
 * Framework: CakePHP
 * Version: 3.0.*
 *
 * Webroot / SASS / Buttons
 *
**/
 
.button,
button {
  padding: 0 8px;
  display: inline-block;
  border-radius: 0;
  cursor: pointer;
  background-color: #f0f0f0;
  font-family: $subMenu;
  font-weight: normal;
  font-size: 14px;
  border: 2px solid #ccc;
  min-height: 25px;
  line-height: 25px;
  border-radius: 2px;
  text-decoration: none;

  @media all and(max-width: 1180px){
    font-size: 12px;
  }

  &:hover,
  &:focus {
    background-color: #eee;
  }

  &:visited {
  }
  
}

.inline{
  display: inline-block;
}

.button-icon {
  padding-right: 35px;
  background-position: right 3px center;
  background-size: 28px auto;
  background-repeat: no-repeat;
  background-image: url('/img/icon-search.svg');
  background-color: #fff;
  border: 0px;
  

  &.button--giant.button--giant {
    background-position: right 5px center;
    background-size: 51px auto;
  }

}

button[type=submit] {
  float: right;
}

input::-moz-focus-inner { 
  border: 0; 
  padding: 0; 
  margin-top: 0px; 
  margin-bottom: 0px; 
}

// Lists of buttons
.button-list {
  margin: 0;
  padding: 0;
  
  li {
    list-style-type: none;
    margin-bottom: 10px;
    text-align: center;
  }
}


