@font-face {
    font-family: 'ssp';
    src: url('/fonts/sourcesanspro-regular-webfont.eot');
    src: url('/fonts/sourcesanspro-regular-webfont.eot?#iefix') format('embedded-opentype'),
    url('/fonts/sourcesanspro-regular-webfont.woff') format('woff'),
    url('/fonts/sourcesanspro-regular-webfont.ttf') format('truetype'),
    url('/fonts/sourcesanspro-regular-webfont.svg#ssp') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'exo';
    src: url('/fonts/exo-extralight-webfont.eot');
    src: url('/fonts/exo-extralight-webfont.eot?#iefix') format('embedded-opentype'),
    url('/fonts/exo-extralight-webfont.woff') format('woff'),
    url('/fonts/exo-extralight-webfont.ttf') format('truetype'),
    url('/fonts/exo-extralight-webfont.svg#open_sansextrabold') format('svg');
    font-weight: normal;
    font-style: normal;
}
