/**
 * Application: Your Safety PAL
 * Version: 0.1
 *
 * Framework: CakePHP
 * Version: 3.0.*
 *
 * Webroot / SASS / Forms
 *
**/

form {
  max-width: 800px;
}

.wide-form {
  max-width: 100%;
}

select {
  width: 75%;
  background: $white;
  padding: 3px;
  margin-bottom: 5px;
  border: 2px solid $stroke;
  border-radius: 2px;
  font-size: 18px;


  background-image: url('/img/icons/icon-ddown1.svg');
  background-repeat: no-repeat;
  background-position: right 5px center;
  background-size: auto 11px;

  -webkit-appearance: none;
  -moz-appearance: none;
}

label {
  float: left;
  width: 24%;
  margin-right: 1%;
  padding-top: 5px;
  display: inline-block;
  text-align: right;
  font-size: 18px;
  vertical-align: top;
  position: relative;
  top: 3px;
  color: $stroke;
}

input,
textarea {
  width: 75%;
  margin-bottom: 10px;
  padding: 3px;
  border: 2px solid $stroke;
  border-radius: 2px;
  font-size: 18px;
  color: #555;
}

fieldset {
  margin-bottom: 10px;
  padding: 20px;
  border: 2px solid $stroke;
}

legend {
  font-weight: bold;
  padding: 0 5px;
  font-size: 20px;
  margin-left: 20px;
}

// Date selects
select[name="date[day]"],
select[name="date[year]"] {
  width: 32%;
}
select[name="date[month]"] {
  width: 34.5%;
}

.wide-form {
  width: 100%;
  max-width: 100%;

  label {
    width: 100%;
    text-align: left;
  }
}

.submit {
  float: right;
  width: 75%;
}

.checkbox {
  position: relative;
  width: auto;
  margin-bottom: 10px;

  input {
    position: absolute;
    left: 102%;
    width: auto;
  }
}

.checkbox-label--left {
  position: relative;
  margin-bottom: 10px;
  text-align: left;
  width: auto;

  input {
    width: auto;
  }
}

.radio {
  width: 100%;
  clear: both;
  margin-bottom: 10px;
  text-align: left;

  input {
    width: auto;
    margin-right: 5px;
  }
}

// Labels at the top
.top-label__label {
  top: 0;
  padding: 0 0 10px 0;
  text-align: left;
  line-height: 22px;
  font-size: 18px;
}

.top-label__space {
  padding-top: 30px;
}

// File uploads
.file-upload-wrap {
  position: relative;
  overflow: hidden;
}

.file-upload {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  padding: 0;
  font-size: 20px;
  cursor: pointer;
  opacity: 0;
  filter: alpha(opacity=0);
}

// Inline edit forms
.inline-edit-wrap {
  clear: both;
  position: relative;
  min-height: 40px;
}

.inline-edit-existing {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.inline-edit-link {
  position: absolute;
  right: 0;
  top: 1px;
  z-index: 2;
}

.inline-input {
  width: 100%;
}

.inline-checkbox__label {
  position: absolute;
  top: 0;
  right: 100px;
}

.inline-checkbox {
  float: none;
  width: auto;
  margin-right: 10px;
}

.inline-submit {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 4;
  width: 50px;
  cursor: pointer;

  &:hover,
  &:focus {
    background-color: $midGrey;
  }
}









