/*
  To change this license header, choose License Headers in Project Properties.
  To change this template file, choose Tools | Templates
  and open the template in the editor.
*/
/* 
  Created on : 06-Dec-2015, 20:40:34
  Author     : Vooda
*/


.wordwrap { 
   white-space: pre-wrap;      /* CSS3 */   
   white-space: -moz-pre-wrap; /* Firefox */    
   white-space: -pre-wrap;     /* Opera <7 */   
   white-space: -o-pre-wrap;   /* Opera 7 */    
   word-wrap: break-word;      /* IE */
}

.rel {
  position: relative;
}

.abs {
  position: absolute;
}

.abs--right {
  right: 0;
  top: 0;
  margin: 5px;
}

.abs--bot-left {
  left: 0;
  bottom: 0;
  width: 100%;
}

.no-margin {
  margin: 0;
}