.title-bar {
	height: 100px;
	background-color: $black!important;
	border-bottom: 3px solid $border;
}

.title-bar-title {
	font-family: $exo;
	font-size: 30px;

	&:hover {
		color: $white;
	}
}

.title-bar-right {
	height: 100%;
}

.menu-container {
	position: absolute;
	right: 5px;
	bottom: 5px;
}

.nav-user-menu{
	left: auto!important;
	top: 97px!important;
	right: 0!important;
	background-color: $black;
	padding: 0;
	padding-top: 5px;
	border: 0;
	border-bottom: 3px solid $border;
	border-left: 3px solid $border;
	max-width: 150px;
}

.nav-user-menu__anchor {
	
}

.menu-li {
	font-family: $exo;
 	text-align: right;
 	background-color: $black;
	border-top: 1px solid $border;

	&:hover {
		background-color: #222;
	}
}

.top-bar > .wrap > a,
.menu-li > a {
	font-family: $exo;
}

.top-bar {
	background-color: #222;
	height: 25px;
	border-bottom: 3px solid $border;
}

