/**
 * Application: Your Safety PAL
 * Version: 0.1
 *
 * Framework: CakePHP
 * Version: 3.0.*
 *
 * Webroot / SASS / Typography
 *
**/

h1 {
    font-family: $mainHeading;
    font-size: 24px;
    color: $white;
}

.h1 {
    font-family: $headingOne;
    font-size: 24px;  
    color: #6b6b6b;
}

h2 {
    font-family: $headingTwo;
    font-size: 18px;
    color: $headingOne;
    padding-bottom: 20px;
}

.h2 {
    font-family: $headingTwo;
    font-size: 18px;
    color: $headingOne;
    //padding-bottom: 20px;
}

h3 {
    font-family: $headingThree;
    font-size: 16pt;
    color: #6b6b6b;
    padding-bottom: 10px;
}

.h3 {
    font-family: $headingThree;
    font-size: 16pt;
    color: #6b6b6b;
}

h4,
.h4 {
    font-family: $headingFour;
    font-size: 16px;
    color: #6b6b6b;
}

h6,
.h6 {
    font-family: $footerText;
    font-size: 14px;
    color: #333;
    padding-top: 70px;
}
.link,
a {
    font-family: $link;
    font-size: 18px;
    color: $headingOne;
    text-decoration: none;
}

.center-text {
    text-align: center;
}

.align-bot {
    vertical-align: bottom;
}

.js-warning {
    color: $red;
}

.black {
    color: #000;
}

p {
    font-family: $paragraph;
    font-size: 16px;
    color: #333333;
}

.wide-spaced {
    line-height: 200%;
}

.error {
    font-family: $headingThree;
    font-size: 20pt;
    color: $red;
    padding-bottom: 10px;
}

.dash-text {
  margin: 10px;
  color: $headingOne;
}

.dash-heading {
  padding: 5px;
  background-color: $veryLightGrey;
}