//Colours
$darkGrey: #333;
$black: #000;
$grey: #555;
$light-grey: #ccc;
$white: #fff;
$yellow: #ffff00;

$border: #5DFC0A;

// Fonts
$paragraph: "ssp";
$exo: "exo";
$heading: 'exo';
$heading-bold: 'exo-bold';

$background: #fff;

